.container {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-auto-rows: minmax(30px, auto);
  background-color: rgb(249, 249, 249);
}

.card-padding {
  padding: 1em;
  /* background-color: aquamarine; */
  grid-auto-rows: 60em;
}
