.navigation {
    font-family: Arial, Helvetica, sans-serif;
}

.navigation.active {
    background : linear-gradient(135deg, rgb(255, 196, 0) 60%, rgb(253, 239, 39));
    
}

.nav-link {
    color:rgb(231, 67, 182);
}