.navigation {
  font-family: Arial, Helvetica, sans-serif;
}

.navigation.active {
  background: linear-gradient(135deg, rgb(255, 187, 0) 60%, rgb(253, 239, 39));
}

.nav-link {
  /* color:rgb(231, 67, 182); */
  color: rgb(177, 16, 218);
}

.nav-link:hover {
  color: rgb(230, 9, 218);
}
